.Parallax-section {
  min-height: 300px;
  width:100% ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color;
}
@media only screen and (min-width: 321px) and (max-width: 767px) and (orientation : landscape) {
  .Parallax-section {
    height: 100vh;
  }
}
