@import "../../UI/ScssVars.scss";
.menu-navigation {
  display: flex;
  justify-content: space-around;
  &__button {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 2rem 0;
    width: 100%;
    transition: 0.3s;
    text-transform: uppercase;
    &.active {
      background-color: $main-color;
    }
  }
}
.menu {
  padding: 1rem 2rem;
  &-glutenfree__message {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: green;
    font-weight: bold;
  }
  &__button--back {
    @include button;
  }
  &__size {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: right;
  }
  &__title {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    &--content {
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
    &--price {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      min-width: 10rem;
      text-align: right;
      span {
      }
    }
  }
}
@media only screen and (min-width: 768px)  {
  .menu__item--price {
    text-align: center;
  }
}
