@import "../../UI/ScssVars.scss";
.admin-panel {
  position: relative;
  padding: 0 0 0 5rem;
  &__navigation {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to left top, #485563, #29323c);
    &-list {
      display: flex;
      flex-direction: column;
      li {
        margin: 1rem 0;
      }
    }
    &-link {
      font-size: 3rem;
      padding: 0 1rem;
      color: white;
      &.active {
        color: $main-color;
      }
    }
  }
}
.message {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  align-self: center;
  @include centerPosition;
}
.admin-menu {
  &__button {
    font-size: 2rem;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    &--add {
      min-width: 100px;
      cursor: pointer;
      padding: 0 1rem;
      &:disabled {
        color: gray;
        pointer-events: none;
      }
    }
  }
  &__isUpload {
    font-size: 2rem;
  }
  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 10fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    &__isUpload {
      font-size: 2rem;
    }
    .enable {
      font-size: 2rem;
      text-align: center;
    }

    input {
      border: none;
      border-bottom: 2px solid $main-color;
      margin: 0 1rem;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="number"] {
      width: 100%;
      text-align: center;
    }
  }

  fieldset {
    margin: 0 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.2);
    legend {
      font-size: 3rem;
      font-family: "Montserrat", sans-serif;
      margin-left: 1rem;
    }
    .send-menu-button {
      @include button;
      border: none;
      box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.2);
      background-color: $main-color;
      width: 98%;
      padding: 1rem 0;
      margin: 2rem auto;
      cursor: pointer;
      &:disabled {
        color: grey;
        pointer-events: none;
        user-select: none;
        background-color: white;
      }
      &:hover {
        box-shadow: 6px 7px 6px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.search-bar {
  border: none;
  border-bottom: 2px solid #ffb932;
  font-size: 2rem;
  margin: 2rem 0;
  width: 100%;
  padding: 0 1rem;
  &:focus{
    outline: none;
  }
}
