* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style-type: none;
}
ol{
  list-style-type: decimal;
}

a:link,
a:visited {
  text-decoration: none;
}

#root {
  box-sizing: border-box;
  min-height: 100vh;
}
.wrapper{
  max-width: 1600px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  min-height: 87vh;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: normal;
}
p {
  font-family: "Raleway", sans-serif;
}
h3,
h4,
a {
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffb932;
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 768px)  {
  html {
    font-size: 60%;
  }
}

